@import './variables.scss';

@mixin themify(){
    .container{        
        // margin: 2.5%;
        max-width: 90%;
    }
    .primary{       
        margin: 2.5%;         
        background-color: $T900;
        //  height: 15vh;
    }
    .secondary{
        background-color: $T300;
        // background-color: $B600;
        //border-radius: 15px        
    }
    .tertiary{
        background-color: $B900;        
    }
}