$B50: #7DBCF6;
$B100: #3697F1;
$B200: #107CDF;
$B300: #0B579C;
$B400: #094780;
$B500: #073763;
$B600: #052746;
$B700: #03172A;
$B800: #01070D;
$B900: #000000;
$B1000: #000000;
$BA100: #6AB8FF;
$BA200: #0487FF;
$BA400: #00529D;
$BA700: #05447E;