$B50: #E3F2FD;
$B100: #BBDEFB;
$B200: #90CAF9;
$B300: #64B5F6;
$B400: #42A5F5;
$B500: #2196F3;
$B600: #1E88E5;
$B700: #1976D2;
$B800: #1565C0;
$B900: #0D47A1;
$BA100: #82B1FF;
$BA200: #448AFF;
$BA400: #2979FF;
$BA700: #2962FF;

$T50: #E0F2F1;
$T100: #B2DFDB;
$T200: #80CBC4;
$T300: #4DB6AC;
$T400: #26A69A;
$T500: #009688;
$T600: #00897B;
$T700: #00796B;
$T800: #00695C;
$T900: #004D40;
$T1000: #003230;
$TA100: #A7FFEB;
$TA200: #64FFDA;
$TA400: #1DE9B6;
$TA700: #00BFA5;