<div class="container">
  <h1>KINESIOLOGISTS TO CHOOSE FROM</h1>
  <div class="row justify-content-center">
    <div class="card">
      <button type="button" class="btn" [routerLink]="['/babsiePage']">
        <img src="./../../assets/babsie.jpg">
        <h2><b>Babsie Nothnagel</b></h2>
        <p>Benoni AH</p>
        <p>7 Types</p>
      </button>
    </div>
    <div class="card" id="milena" [routerLink]="['/melinaPage']">
      <button type="button" class="btn">
        <img src="./../../assets/milena2.jpg">
        <h2><b>Melina Geertsema</b></h2>
        <p>Elardus Park</p>
        <p>3 Types</p>
      </button>
    </div>
  </div>
</div>

<!--Large modal-->
<!--<p>Small modal window have small width on screens only above 768px(boostrap3) and 576px(bootstrap4)</p>-->
<div bsModal #babsieModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Babsie Nothnagel</h4>
        <button type="button" class="close pull-right" (click)="babsieModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-babsie></app-babsie>                                     
      </div>
    </div>
  </div>
</div>