.btn{
  background-color: transparent;
  color: #33bcff;
}
.card{
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(174, 174, 174);
  background-color: rgba(0,0,0,0.25);
  border-radius: 2px;
  width: 25vw;
  margin: 0 10% 0 10%;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 12px 20px 0 rgb(174, 174, 174);
  transform: scale(1.05);
}
