<!-- <app-top-bar></app-top-bar> -->
<div class="container">
    <div class="row">
        <div class="col-12 kinesiology" [routerLink]="['/kinesiology']">
            <img src="../../../assets/kinesiology.png" alt="Kinesiology">
            <!-- <canvas></canvas> -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 forLife">
            <h1>FORLIFE</h1>
        </div>
        <div class="col -6 workshops">
            <h1>WORKSHOPS</h1>
        </div>
    </div>
</div>

<!-- <canvas #mainCanvas width="500" height="500"></canvas> -->