<div class="primary container">
    <div class="row">
        <div class="col-2">
            <img src="./assets/KinesiologyLogo.png" alt="KinesiologyPractice" id="logo">
        </div>
        <div class="col-10 container">
            <div id="title">
                <h1>KINESIOLOGY PRACTICE</h1>
            </div>
            <div class="secondary">
                <div class="container">
                    <div class="row justify-content-center">
                        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                        <a [routerLink]="['/Kinesiology']" routerLinkActive="router-link-active">Kinesiology</a>
                        <a [routerLink]="['/ForLife']" routerLinkActive="router-link-active">ForLife</a>
                        <a [routerLink]="['/Workshops']" routerLinkActive="router-link-active">Workshops</a>
                        <a [routerLink]="['/joinUs']" routerLinkActive="router-link-active">JoinUs</a>
                        <a [routerLink]="['/feedBack']" routerLinkActive="router-link-active">FeedBack</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>